*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.header{
    z-index: 100;
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
}

.search input{
    padding: 5px 0;
    padding-left: 20px;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    color: white !important;
    background-color: rgb(46, 46, 46) !important;
    border: 2px solid rgb(56, 56, 56) !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.search input::placeholder{
    color: white;
}
.search button{
    width: 50px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    padding: 5px 0;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.language:hover {
    background-color: black !important;
    color: white !important;
}
a{
    text-decoration: none;
}

.menu a{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.gadgetModel a{
    font-weight: bold;
    width: max-content;
    color: white;
    border-radius: 20px !important;
    margin:  10px;
    transition: all 0.5s;
}

.gadgetModel a:hover{
    transform: translateY(-10px);
}

.gadgetModel a div{
    padding: 6px 14px;
}

.gadgetModel .btn-all{
    border: 2px solid white;
}
.card-product{
    transition: all 0.5s;
}
.card-product img{
    transition: all 0.5s;
}
.card-product:hover{
    transform: translateY(-10px);
}
.card-product:hover img{
    transform: scale(1.1);
}

.product-des div{
    color: white;
    padding: 0px 7px;
    border: 1px solid white;
    border-radius: 10px;
}


.contact-form input::placeholder,.contact-form textarea::placeholder{
    color: rgb(141, 141, 141) !important;
}
.contact-form label{
    color: rgb(141, 141, 141);
}
.contact-form input,.contact-form textarea{
    color: rgb(141, 141, 141);
    background-color: #2B2B2B !important;
    border: 1px solid rgb(141, 141, 141);
}
.contact-form button{
    border-radius: 20px;
}